
@{
    ViewData["Title"] = "Haqqımda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content -->
    <div class="page-content bg-white">
		<!-- inner page banner -->
        <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle bg-pt" style="background-image:url(images/banner/bnr1.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">About Me</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
		<!-- About Us -->
		<div class="section-full bg-white content-inner-2 about-us">
			<div class="min-container">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="text-center">Some Facts About Me...</h2>
						<p class="first-content">Aliquam nec mi et nunc viverra dictum. Donec bendum tellus quis nisl efficiturut gravida mauris efficitur. Vestibulum alobortis nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a sapien acbh sodales varius. Morbi endum libero. Nulla vestibulum, felis vitae aliquet dictum, nunc augue varius odio, imperdiet tincidunt neque metus ut lorem. Nunc non massa ornare, lobortis nunc vitae, hendrerit mauris. Vivamus nunc orci, vehicula sit amet tempus sit amet.</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="about-me-thumb">
					<img class="thumb1" src="images/about/img2.jpg" alt="">
					<img class="thumb2" src="images/about/img3.jpg" alt="">
				</div>
			</div>
			<div class="min-container">
				<div class="row">
					<div class="col-lg-12">
						<p>Aliquam eleifend consequat est laoreet bibendum. Proin et nibh augue. Fusce condimentum vehicula condi entum. Nulla rutrum justo pellentesque nunc porta aliquam. Mauris sodales mauris sed mi elementum faucibus. Aliquam tinci dunt sem nec augue porta euismod. Nulla facilisi. Nulla ultricies ipsum massa, quis molestie magna acibus sed.</p>
						<p>Mauris sed risus facilisis, ullamcorper massa eu, elementum ligula. Vivamus sit amet risus i ornare finibus vitae ac nulla. Aenean eget ex ut libero congue rutrum a et diam. Mauris eu metus et nibh pulvinar tempus idefficitur dolor.</p>
						<div class="post-link-in"><a href="javascript:void(0);"><i class="la la-external-link"></i>bucklinblog.com</a></div>
						<p>Aliquam tincidunt sem nec augue porta euismod. Nulla facilisi. Nulla ultricies ipsum massa, quis molestie magna acibus sed. Mauris sed risus facilisis, ullamcorper massa eu, elementum ligula. Vivamus sit amet risus i ornare finibus vitae ac nulla. Aenean eget ex ut libero congue rutrum a et diam. Mauris eu metus et nibh pulvinar tempus idefficitur dolor. Maecenas erat leo, ullamcorper vel turpis eget, auctor mollis nunc. Sed a volutpat quam.</p>
						<p>Fusce ultricies lorem et eros rhoncus aliquam. Curabitur nec interdum magna. Nunc sodales sodales lorem quis convallis. Aliquam eleifend consequat est laoreet bibendum. Proin et nibh augue. Fusce condimentum vehicula condi mentum. Nulla rutrum justo pellentesque nunc porta aliquam. Mauris sodales mauris sed mi elementum faucibus.</p>
						<p>Duis et tortor semper arcu tristique sollicitudin non tincidunt sapien. Praesent nulla velit, aliquam eget purus aconcus tincidunt turpis. Pellentesque rhoncus, lorem vel pretium semper, justo ligula blandit sapienit ipsum non quam.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- About Us End -->
    </div>
    <!-- Content END-->
